<header>
  <nav>
    <ul class="navigation">
      <div class="home">
        <li><a href="/">Home</a></li>
      </div>
      <div class="nav-links">
        <li><a href="/admin">Admin</a></li>
        <li class="login"><a href="/auth">Login</a></li>
        <li class="logout"><a href="/auth/logout"> Logout</a></li>
      </div>
    </ul>
  </nav>
</header>