<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/admin-style.css">
    <link rel="stylesheet" href="public/css/header-style.css">
    <link rel="stylesheet" href="public/css/global-style.css">
    <title>Add Picture Form</title>
	</head>
  <%- include('./includes/header.ejs') %>
	<h1>Add Picture Form</h1>
	<form action="/admin/add-picture" method="POST">
		<div class="form-controls">
			<label for="title">Picture Title</label>
			<input type="text" name="title" />
			<label for="url">Url</label>
			<input type="url" name="url"/>
      <button class="submit">Submit</button>
		</div>
	</form>
</html>