<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/header-style.css">
    <link rel="stylesheet" href="public/css/home-style.css">
    <link rel="stylesheet" href="public/css/global-style.css">
  </head>
<%- include('./includes/header.ejs') %>
<title>Home</title>
</head>
<body>
  <h2>Home</h2>
  <ul class="main-pictures">
    <li></li>
  </ul>
  <div>Welcome to the pictures page. Leave a comment below.</div>
  <button>Click me</button>
  <script type="module" src="/index.js"></script>
</body>
</html>
