
    <title>Pictures Search</title>
  </head>
  <body>
    <h2>Pictures Search</h2>
    <ul class="main-pictures">
      <li></li>
    </ul>
    <div>Welcome to the pictures page. Leave a comment below.</div>
    <button>Click me</button>
    <script type="module" src="/index.js"></script>
  </body>
</html>
<!-- <script src="">
  import { pictures } from '../routes/admin.cjs';
  console.log(pictures);

  const ulElement = document.querySelector('.main-pictures');
  const liElement = document.createElement('li');
  liElement.innerText = 'hi there';
  ulElement.insertAdjacentElement('afterend', liElement);
</script>
 -->