header{
  background-color: rgb(44, 142, 96);
  box-shadow: 1px 1px 5px 1px rgba(54, 54, 54, 0.56);
  position: fixed;
  top: 0;
  padding-top: 1rem;
  width: 100%
}


li{
  list-style: none;
}

li:first-child{
  padding-left: 0.2rem;
}


a{
  text-decoration: none;
  color: rgb(255, 229, 36);
  margin: 0.8rem;
}

a:hover, a:active{
  color: rgb(204, 255, 203);
}

.navigation{
  display: flex;
  justify-content: space-between;
}

.home{
  font-size: 4rem;
}

.nav-links{
  display: flex;
  font-size: 2rem;
  align-items:flex-end;
  max-height: 100%;
  padding: 0.4rem;
}

@media screen and (max-width: 500px){
 ul, .nav-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li{
   font-size: 1.5rem;
 }

 .home a{
  font-size: 3rem;
 }
}