body{
  display: flex;
  justify-content: center;

}

section{
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 12rem;
}

h1{
  font-size: 2.5rem;
}

button.logout{
  margin-top: 0.6rem;
  padding: 0.2rem 0.4rem;
  max-width: 10rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(241, 245, 242);
  border: 0.1px solid rgb(131, 131, 131);
}

button:hover{
  background-color: rgb(251, 242, 147);
}

a.signup{
  color: blue;
  font-size: 1rem;
  margin-top: 0.4rem;
}

/* @media screen and (max-width: 350px){
  h1{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 250px){
  h1{
    font-size: 1.3rem;
  }

} */